:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 10px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*FILME PRINCIPAL*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,0.50)100%), url('ricka.jpg');    
    background-size: cover;

    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .sinopse{
    margin-top: 10px;
    margin-bottom: 90px;
}

.titulo{
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    width: 250px;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 16px;

    cursor: pointer;
    transition: 2s ease all;
}

.botao i{
    margin-right: 8px;
}

.botao:hover{
    background-color: white;
    color: black;
}

.container{
    margin-left: 50px;
    margin-right: 20px;
}

.filme-principal .container{
    width: 60%;
}

.card-filme{
    height: 60%;
    width: 60%;
    display: block;
}